.container{
  height: 100vh;
  left: 0;
  position: absolute;
  padding: 0
}

.container-row{
  padding: 20px;
  height: 350px;
  background: linear-gradient(
    -206deg
     , #f953c6, #b91d73);
  display: block;
  line-height: 1.42857143;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: box-shadow .25s;
  height: 100vh;
  position: fixed;
  border-right: 2px dotted #a9ba9d;
}

.form-wrapper{
  height: 100px;
  margin-top: 90px;
  margin-bottom: 40px;
}

.text-main{
  padding-bottom: 15px;
  color: #fff
}

.submitButton{
  width: 100%;
  color: #fff;
  width: 100%;
  border: 2px solid #fff;
}
