<div class="container-fluid" style="overflow-x: hidden">
  <div class="row">
    <div class="timeline" style="margin-left: -153px">
      <div class="" *ngFor="let items of userItems">
        <div class="container left">
          <div class="content">
            <h4 class="text-left">
              {{ items.item_left.date }}
            </h4>
            <p>
              {{ items.item_left.componentInstall }}
            </p>
            <p>
              {{ items.item_left.install }}
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <div style="text-align: right; margin-top: -4px">
              <h4 class="text-right2 ml-auto">
                {{ items.item_right.date }}
              </h4>
            </div>
            <p>
              {{ items.item_right.componentInstall }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
