.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 74%;
  margin-left: -4px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: white;
  border: 4px solid #0BDA51;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  animation: crescendo 1.5s alternate infinite ease-in;
}



.left {
  left: 0;
}


.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


.right::after {
  left: -15px;
}


.content {
  /* padding: 20px 30px; */
  padding: 2px 16px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


@media screen and (max-width: 600px) {

  .timeline::after {
  left: 31px;
  }


  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }


  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }


  .left::after, .right::after {
  left: 15px;
  }


  .right {
  left: 0%;
  }
}

p{
  font-size: 15px;
  margin-bottom: -2px;
}

h4{
  font-size: 16px;
}


@keyframes crescendo {
  /* 0%   {transform: scale(.8);}
  100% {transform: scale(1.5);} */
  0%   {transform: scale(.5);}
  100% {transform: scale(1);}
}

.text-left{
  background: red;
  margin-left: -16px;
  width: 83px;
  text-align: left;
  margin-top: -2px;
  border-top-left-radius: 7px;
  outline: none;
}

.text-right{
  background: red;
  margin-right: -16px;
  margin-top: -2px;
  text-align: right;
  border-top-right-radius: 6px;
  outline: none;
  margin-left: 115px;
}
